<ul>
  <% _.each(this.collection.models, function(site) { %>
    <h1><%= site.get('name') %></h1><img src="<%= site.get('logoUrl')  %>"/>
  	<header id="header">
  		<h1><%= site.get('name') %></h1>
  		<img src="<%= site.get('logoUrl')  %>
  		<input id="#edit-todo/<%= site.get('siteId')  %>">
  	</header>
  <% }); %>
</ul>
